* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
    max-width: 100%;
}
section#page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 10%;
    min-height: 100vh;
}
section#page header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 87, 215);
}
section#page header h1 {
    color: white;
    font-size: 160px;
    transform: translate(0, -20px);
}
main#app {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    gap: 2rem;
    margin: auto;
    padding-top: 2rem;
}

.cafe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px silver;
    border-radius: 2px;
    background-color: rgb(243, 245, 252);
}
.cafe-card > div {
    height: 22rem;
    width: 23rem;
    background-size: cover;
    background-position: center top;
}
.cafe-card-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}
.cafe-card-footer > h2 {
    flex:auto;
}
.cafe-card form {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}
.cafe-card form div {
    margin: 1rem 0;
}
.cafe-card form div label {
    display: block;
}
.cafe-card form div input {
    width: 90%;
    padding: 0.5rem;
}
.cafe-card form button {
    padding: 0.5rem;
    background-color: rgb(55, 87, 215);
    color: white;
    border-color: transparent;
    border-radius: .25rem;
    margin: 2rem 0 6rem 0;
}
footer {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 2rem 1rem 0;
}

.model-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.model-bg > article {
    height: 33vh;
    width: 33vw;
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.model-bg > article > main {
    flex: auto;
}
.model-bg > article > footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
}